* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  height: 100vh;
}

a {
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
}

/* HEADER */
header {
  min-width: 320px;
  height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

nav {
  margin-top: 20px;
}

.nav-right-section {
  padding-right: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  list-style: none;
}

.nav-right-section a {
  margin: 10px;
  color: #000000de;
  font-size: 1.2rem;
  font-weight: 500;
}

.menu-icon {
  width: 30px;
  height: 30px;
}

.profile-icon {
  width: 50px;
  height: 50px;
}

.nav-right-section img {
  width: 100%;
}

/* MAIN */
main {
  height: auto;
  margin-top: 60px;
  text-align: center;
}

.main-logo {
  margin: 0 auto 30px;
}

.main-logo img {
  width: 250px;
  height: 90px;
}

.main-input {
  width: 90%;
  margin: 0 auto 30px;
}

.main-input-container {
  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 100px;
  border: 1px solid #dfe1e5;
}

.main-input input {
  width: 100%;
  height: 35px;
  font-size: 1.3rem;
  border: transparent;
  outline: transparent;
}

.main-input-container:hover {
  border-color: #dfe1e500;
  box-shadow: 0 1px 6px 0 #20212447;
}

.search-icon {
  width: 14px;
  height: 14px;
  margin: 0 8px;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/7/7e/Vector_search_icon.svg/945px-Vector_search_icon.svg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.micro-icon {
  width: 16px;
  height: 16px;
  margin: 0 8px;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/e/e8/Google_mic.svg/716px-Google_mic.svg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  cursor: pointer;
}

.main-buttons {
  margin: 0 auto 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 35px;
}

.main-buttons button {
  height: 30px;
  padding: 0 10px;
  color: #3c4043;
  font-size: 1.2rem;
  font-weight: 500;
  border-radius: 4px;
  border: transparent;
  background-color: #f2f2f2;
}

.main-buttons button:hover {
  color: #202124;
  border: 1px solid #c6c6c6;
  box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
  cursor: pointer;
}

/* FOOTER */
footer {
  min-width: 320px;
  position: absolute;
  bottom: 0;
}

.footer-top {
  padding: 10px 0 10px 20px;
  color: #4e5155;
  font-size: 1.2rem;
  font-weight: 600;
  display: block;
  border-bottom: 1px solid #dadce0;
  background-color: #f2f2f2;
}

.footer-bottom {
  padding: 10px 0;
  font-size: 1.2rem;
  font-weight: 500;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-row-gap: 5px;
  background-color: #f2f2f2;
}

.footer-bottom ul {
  list-style: none;
  display: flex;
}

.footer-bottom-left {
  justify-content: space-evenly;
}

.footer-bottom-right {
  justify-content: space-evenly;
}

.footer-bottom  a {
  margin: 0 15px;
  color: #4e5155;
}
