.nav-right-section a {
  font-size: 1.4rem;
}

.main-logo img {
  width: 300px;
}

.main-input {
  width: 40%;
}

.main-input input {
  height: 40px;
  font-size: 1.5rem;
}

.main-buttons button {
  height: 40px;
  font-size: 1.5rem;
}

.footer-top {
  padding: 15px 0 15px 30px;
  font-size: 1.5rem;
  font-weight: normal;
}

.footer-bottom {
  padding: 15px 0 15px 30px;
  font-size: 1.5rem;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: none;
  grid-row-gap: 0px;
}

.footer-bottom-left {
  justify-content: flex-start;
}

.footer-bottom-right {
  justify-content: flex-end;
}